body {
    background-color:hsla(158, 23%, 18%, 1);
    margin:0;
    padding:0;

}

.navbar ul{
    display: flex;
    justify-content: center;
    /* position: relative;
    right: 3%; */
    margin: auto;
}

.navbar ul li{
    display: flex;
    padding: 3% 2%;
    
}

.navbar ul li a{
    color:#d4ede4;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding: 5px 10px;

}

#foundername{
    color: hsla(160, 52%, 71%, 1);
    font-family: 'Style Script', cursive;
    font-weight: 700;
    font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    line-height: 100%;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
 
}

.founderdescription{
    color: #d4ede4;
    display: block;
    font-family: 'Kanit', sans-serif;
    font-size: larger;
    inline-size: 55%;
    left: 23%;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;

}

.rightstar{
    left: 77%;
    position: relative;
    top: 50px;

}

.leftstar{
    bottom: 110px;
    left: 13%;
    position: relative;

}

.upperanimation{
    animation: upperAnimation 15s infinite linear;
    background-color: hsla(158, 23%, 18%, 1);
    background-image: radial-gradient(circle, #b85b87, #224852, #6d763b);
    background-size: 600% 600%;
    height: 100%;
    width: 100%;
    
}

@keyframes upperAnimation{
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}

hr{
    border-color:rgba(143, 142, 142, 0.326);
    border-style:none;
    border-top-style: dotted;
    border-width: thick;
    width:3%;

}

.card{
    text-align: right;
    background-color: hsla(172, 45%, 75%, 1);
    border-radius: 50px;
    color: hsla(171, 11%, 24%, 1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Style Script', cursive;
    height: 500px;
    margin: auto;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;
    width: 90%;

}

img.inner-card{
    opacity: 1;
    max-width: 100%;
    display: block;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    max-width: inherit;
    position: relative;
    border-radius: 50px;
    z-index: var(50);
    aspect-ratio: auto 1300/600;
    overflow-clip-margin: content-box;
    overflow: clip;
    
}


h3{
    color: hsla(160, 52%, 71%, 1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 1%;

}

.education{
    color: hsla(160, 52%, 71%, 1);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    padding-right: 3%;

}
